.SendbirdChatAppStyles {
    font-family: 'LexendDeca',sans-serif;
    text-align: left;
    height: 100vh;
    background-image: url(/src/ui/assets/images/LeoraBackground.png);
  }

  .sendbird-message-input--attach {
    display: none;
  }